/*General styles
=========================*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    margin: 0;

    color: #4c4c4c;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Common styles
=========================*/

/*Titles*/
.gold--title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;

    color: #c90;
}

.white--title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;

    color: #fff;
}

/*Line::after*/
.white--line::after {
    display: block;

    margin: 30px 0;

    content: url('images/ingridients/white-line.png');
    text-align: center;
}

.gold--line::after {
    display: block;

    margin: 30px 0;

    content: url('images/gold-line.png');
    text-align: center;
}

/*Container
=========================*/
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header
=========================*/
.header {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;

    box-shadow: inset 0 100px 20px rgba(0, 0, 0, .3);
}

.header-inner {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;

    text-transform: uppercase;

    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000;
}

.nav {
    display: flex;

    align-items: center;
}

.nav-item {
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;

    position: relative;

    margin-left: 50px;
    padding: 50px 0;

    text-decoration: none;

    color: #fff;
}

.nav-item:hover {
    transition: .2s linear;

    border-top: 4px solid rgba(255, 255, 255, .9);
}

.social-item {
    display: flex;

    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.social-icon {
    display: block;

    height: 25px;

    fill: #dab33e;
}

.social-item:hover .social-icon {
    transition: fill .1s linear;

    fill: #ffb33e;
}

/*.nav-item:hover::before {
    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    height: 3px;

    content: '';
    transition: .4s ease-in;

    background-color: rgba(255, 255, 255, .9);
}*/

.nav-item:first-child {
    margin-left: 0;
}

/*Intro
=========================*/
.intro {
    padding: 175px 0 140px;

    background: url('images/intro.jpg') center no-repeat;
    background-size: cover;
}

.intro-inner {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 977px;
    margin: 0 auto;

    text-align: center;
}

.intro-title {
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    font-weight: 400;
    line-height: 1.5;

    color: rgba(255, 255, 255, .95);
    text-shadow: 1px 1px 2px #000;
}

.intro-title::after {
    line-height: 0;

    display: block;

    margin: 30px 0;

    content: url('images/intro-line.png');
}

.intro-buttons {
    display: flex;

    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    justify-content: space-between;
}

.intro-btn {
    font-family: 'Lato', sans-serif;

    display: inline-block;

    padding: 20px 60px;

    transition: background .1s linear;
    vertical-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn--black {
    color: #fff;
    border: 1px #000 solid;
    background-color: rgba(0, 0, 0, .7);
}

.btn--white {
    color: #000;
    border: 1px #fff solid;
    background-color: rgba(255, 255, 255, .7);
}

.btn--black:hover {
    background-color: rgba(0, 0, 0, 1);
}

.btn--white:hover {
    background-color: rgba(255, 255, 255, 1);
}

/*About
=========================*/
.about {
    padding: 40px 0;

    background: url('images/about/about-bg.jpg') center no-repeat;
    background-size: cover;
}

.about-inner {
    display: flex;

    width: 100%;
    max-width: 1030px;
    margin: 0 auto;

    justify-content: space-between;
}

.about-food {
    display: flex;
    flex-direction: column;

    width: 40%;

    text-align: center;

    justify-content: center;
    align-items: center;
}

.about-txt {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    margin-bottom: 50px;
}

.about-cook {
    transform: translateX(40px);
}

.about-dish {
    display: block;

    width: 100%;
    min-width: 100%;
    height: auto;
}

/*Ingridients
=========================*/
.ingridients {
    padding: 100px 0;

    background: url('images/ingridients/ingridients-bg.jpg') center no-repeat;
    background-size: cover;
}

.ingridients-inner {
    display: flex;

    justify-content: flex-end;
}

.ingridients-content {
    display: flex;
    flex-direction: column;

    width: 570px;
    padding: 58px 0;

    background-color: rgba(0, 0, 0, .67);

    align-items: center;
    justify-content: center;
}

.ingredients-txt {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 70px;
    padding: 0 70px;

    text-align: center;

    color: #fff;
}

.ingredients-images {
    display: flex;

    width: 75%;
    margin: 0 auto;

    justify-content: space-evenly;
}

/*Menu
=========================*/
.menu {
    padding: 100px 0;

    background: url('images/menu-bg.jpg') center no-repeat;
    background-size: cover;
}

/*Reviews
=========================*/
.reviews {
    padding: 100px 0;

    background: url('images/reviews-bg.jpg') center no-repeat;
    background-size: cover;
}

.reviews-inner {
    display: flex;

    align-items: center;
    justify-content: center;
}

.reviews-content {
    display: flex;
    flex-direction: column;

    width: 770px;
    padding: 65px 0;

    background-color: rgba(0, 0, 0, .9);

    align-items: center;
    justify-content: center;
}

.reviews-txt {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-style: italic;
    line-height: 2;

    margin-bottom: 50px;
    padding: 0 70px;

    text-align: center;

    color: #dde0df;
}

.reviews-author {
    font-family: 'Lato', sans-serif;
    font-size: 18px;

    color: #fff;
}

/*Reservations
=========================*/
.reservations {
    background: url('images/reservations/reservations-bg.jpg') center no-repeat;
    background-size: cover;
}

.reservations-inner {
    display: flex;

    padding: 100px 110px 100px 25px;

    justify-content: space-between;
}

.reservations-images {
    display: flex;

    padding-right: 70px;
}

.reservations-photo {
    display: block;

    margin: 0 15px;
}

.reservations-content {
    text-align: center;
}

.reservations-txt1 {
    line-height: 1.5;

    margin-bottom: 25px;
}

.reservations-txt2 {
    line-height: 1.5;
    margin-bottom: 40px;
}

.reservations-form {
   
}

.form-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;

    width: 200px;
    height: 35px;
    padding: 0 20px;

    border: 1px #c8c6c6 solid;
    outline: none;
    background-color: rgba(255, 255, 255, .5);
}

.form-item:hover {
    transition: background .1s linear;

    border-color: rgb(190, 180, 180);
}

.form-item:focus {
    transition: background .1s linear;

    border-color: #c89f2d;
}

.form-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    padding: 10px 80px;

    cursor: pointer;

    color: #fff;
    border: none;
    outline: none;
    background-color: #c9a131;
}

.form-btn:hover {
    transition: background .1s linear;

    background-color: #ffb33e;
}

.form-item-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
